body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
}

header, main, footer {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
    color: navy;
}

header p, section p {
    font-size: 16px;
    color: #333;
}

a {
    color: #06c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    border-bottom: 2px solid navy;
    color: #333;
    padding-bottom: 5px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    line-height: 1.5;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 80%;
    margin: auto;
}

.job h3, .project h3 {
    font-size: 18px;
    color: darkblue;
}

.job p, .project p {
    font-style: italic;
    color: #555;
}
